.additionform{
    width: 60%;
    margin: auto;
    margin-top: 6%;
}
input{
    width: 60%;
    margin-top: 1%;
}
.eddt{
    width: 45% !important;
}
#upls{
    display: block;
    /* margin: auto !important; */
    margin-top: 2% !important;
    width: 130px !important;
}
.msgss{
    width: 75%;
    margin-top: 5% !important;
    background: lightyellow;
}
#msgp{
    cursor: pointer;
    float: right;
}